[Unit]
Description=
After=multi-user.target

[Service]
Type=idle

WorkingDirectory=/opt/magicbot/
ExecStart=/opt/magicbot/venv/bin/python main.py

[Install]
WantedBy=multi-user.target